---
import { PUBLIC_FOO } from "astro:env/client";
import { PUBLIC_NETLIFY, PUBLIC_DEPLOY_URL } from "astro:env/server";

const vars = {
  PUBLIC_FOO: PUBLIC_FOO ?? null,
  PUBLIC_NETLIFY,
  PUBLIC_DEPLOY_URL: PUBLIC_DEPLOY_URL ?? null,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <pre>{JSON.stringify(vars, null, 2)}</pre>
  </body>
</html>
